# GLOBAL OPTIONS

# Allow insecure account unlocking when account-related RPCs are exposed by http
GETH_CLI__ALLOW_INSECURE_UNLOCK=false

# Directory for the keystore (default = inside the datadir)
GETH_CLI__KEYSTORE=

# Reduce key-derivation RAM & CPU usage at some expense of KDF strength
GETH_CLI__LIGHTKDF=false

# Password file to use for non-interactive password input
GETH_CLI__PASSWORD=

# Path to the smartcard daemon (pcscd) socket file
GETH_CLI__PCSCDPATH="/run/pcscd/pcscd.comm"

# External signer (url or path to ipc file)
GETH_CLI__SIGNER=

# Comma separated list of accounts to unlock
GETH_CLI__UNLOCK=

# Enable monitoring and management of USB hardware wallets
GETH_CLI__USB=false

# ALIASED (deprecated)

# Disk journal directory for trie cache to survive node restarts
GETH_CLI__CACHE_TRIE_JOURNAL=

# Time interval to regenerate the trie cache journal
GETH_CLI__CACHE_TRIE_REJOURNAL=0s

# Outgoing bandwidth limit for serving light clients (deprecated)
GETH_CLI__LIGHT_EGRESS=0

# Incoming bandwidth limit for serving light clients (deprecated)
GETH_CLI__LIGHT_INGRESS=0

# Maximum number of light clients to serve, or light servers to attach to (deprecated)
GETH_CLI__LIGHT_MAXPEERS=100

# Disable ancient light chain data pruning (deprecated)
GETH_CLI__LIGHT_NOPRUNING=false

# Enables serving light clients before syncing (deprecated)
GETH_CLI__LIGHT_NOSYNCSERVE=false

# Maximum percentage of time allowed for serving LES requests (deprecated)
GETH_CLI__LIGHT_SERVE=0

# Request a stack trace at a specific logging statement (deprecated)
GETH_CLI__LOG_BACKTRACE=

# Prepends log messages with call-site location (deprecated)
GETH_CLI__LOG_DEBUG=false

# Enable expensive metrics collection and reporting (deprecated)
GETH_CLI__METRICS_EXPENSIVE=false

# Enable mining (deprecated)
GETH_CLI__MINE=false

# 0x prefixed public address for block mining rewards (deprecated)
GETH_CLI__MINER_ETHERBASE=

# Specify the maximum time allowance for creating a new payload (deprecated)
GETH_CLI__MINER_NEWPAYLOAD_TIMEOUT=2s

# Disables monitoring for and managing USB hardware wallets (deprecated)
GETH_CLI__NOUSB=false

# Number of recent blocks to maintain transactions index for (deprecated, use history.transactions instead)
GETH_CLI__TXLOOKUPLIMIT=2350000

# Enables the experimental RLPx V5 (Topic Discovery) mechanism (deprecated, use --discv5 instead)
GETH_CLI__V5DISC=false

# Comma separated block number-to-hash mappings to enforce (<number>=<hash>) (deprecated in favor of --eth.requiredblocks)
GETH_CLI__WHITELIST=

# API AND CONSOLE

# Listening address for authenticated APIs
GETH_CLI__AUTHRPC_ADDR="localhost"

# Path to a JWT secret to use for authenticated RPC endpoints
GETH_CLI__AUTHRPC_JWTSECRET=

# Listening port for authenticated APIs
GETH_CLI__AUTHRPC_PORT=8551

# Comma separated list of virtual hostnames from which to accept requests (server enforced). Accepts '*' wildcard.
GETH_CLI__AUTHRPC_VHOSTS="localhost"

# Execute JavaScript statement
GETH_CLI__EXEC=

# Enable GraphQL on the HTTP-RPC server
GETH_CLI__GRAPHQL=false

# Comma separated list of domains from which to accept cross origin requests (browser enforced)
GETH_CLI__GRAPHQL_CORSDOMAIN=

# Comma separated list of virtual hostnames from which to accept requests (server enforced). Accepts '*' wildcard.
GETH_CLI__GRAPHQL_VHOSTS="localhost"

# Pass custom headers to the RPC server when using --remotedb or the GETH_CLI_ attach console. This flag can be given multiple times.
GETH_CLI__HEADER=

# Enable the HTTP-RPC server
GETH_CLI__HTTP=false

# HTTP-RPC server listening interface
GETH_CLI__HTTP_ADDR="localhost"

# APIs offered over the HTTP-RPC interface
GETH_CLI__HTTP_API=

# Comma separated list of domains from which to accept cross origin requests (browser enforced)
GETH_CLI__HTTP_CORSDOMAIN=

# HTTP-RPC server listening port
GETH_CLI__HTTP_PORT=8545

# HTTP path prefix on which JSON-RPC is served. Use '/' to serve on all paths.
GETH_CLI__HTTP_RPCPREFIX=

# Comma separated list of virtual hostnames from which to accept requests (server enforced). Accepts '*' wildcard.
GETH_CLI__HTTP_VHOSTS="localhost"

# Disable the IPC-RPC server
GETH_CLI__IPCDISABLE=false

# Filename for IPC socket/pipe within the datadir (explicit paths escape it)
GETH_CLI__IPCPATH=

# JavaScript root path for `loadScript`
GETH_CLI__JSPATH="."

# Comma separated list of JavaScript files to preload into the console
GETH_CLI__PRELOAD=

# Allow for unprotected (non EIP155 signed) transactions to be submitted via RPC
GETH_CLI__RPC_ALLOW_UNPROTECTED_TXS=false

# Maximum number of requests in a batch
GETH_CLI__RPC_BATCH_REQUEST_LIMIT=1000

# Maximum number of bytes returned from a batched call
GETH_CLI__RPC_BATCH_RESPONSE_MAX_SIZE=25000000

# Enables the (deprecated) personal namespace
GETH_CLI__RPC_ENABLEDEPRECATEDPERSONAL=false

# Sets a timeout used for eth_call (0=infinite)
GETH_CLI__RPC_EVMTIMEOUT=5s

# Sets a cap on gas that can be used in eth_call/estimateGas (0=infinite)
GETH_CLI__RPC_GASCAP=50000000

# Sets a cap on transaction fee (in ether) that can be sent via the RPC APIs (0 = no cap)
GETH_CLI__RPC_TXFEECAP=1

# Enable the WS-RPC server
GETH_CLI__WS=false

# WS-RPC server listening interface
GETH_CLI__WS_ADDR="localhost"

# APIs offered over the WS-RPC interface
GETH_CLI__WS_API=

# Origins from which to accept websockets requests
GETH_CLI__WS_ORIGINS=

# WS-RPC server listening port
GETH_CLI__WS_PORT=8546

# HTTP path prefix on which JSON-RPC is served. Use '/' to serve on all paths.
GETH_CLI__WS_RPCPREFIX=

# BEACON CHAIN

# Beacon node (CL) light client API URL. This flag can be given multiple times.
GETH_CLI__BEACON_API=

# Pass custom HTTP header fields to the emote beacon node API in "key:value" format. This flag can be given multiple times.
GETH_CLI__BEACON_API_HEADER=

# Beacon chain weak subjectivity checkpoint block hash
GETH_CLI__BEACON_CHECKPOINT=

# Beacon chain config YAML file
GETH_CLI__BEACON_CONFIG=

# Beacon chain genesis validators root
GETH_CLI__BEACON_GENESIS_GVROOT=

# Beacon chain genesis time
GETH_CLI__BEACON_GENESIS_TIME=0

# Disable future slot signature filter
GETH_CLI__BEACON_NOFILTER=false

# Beacon sync committee participation threshold
GETH_CLI__BEACON_THRESHOLD=342

# DEVELOPER CHAIN

# Ephemeral proof-of-authority network with a pre-funded developer account, mining enabled
GETH_CLI__DEV=false

# Initial block gas limit
GETH_CLI__DEV_GASLIMIT=11500000

# Block period to use in developer mode (0 = mine only if transaction pending)
GETH_CLI__DEV_PERIOD=0

# ETHEREUM

# Megabytes of memory allocated to bloom-filter for pruning
GETH_CLI__BLOOMFILTER_SIZE=2048

# TOML configuration file
GETH_CLI__CONFIG=

# Data directory for the databases and keystore
GETH_CLI__DATADIR="/ho/.ethereum"

# Root directory for ancient data (default = inside chaindata)
GETH_CLI__DATADIR_ANCIENT=

# Minimum free disk space in MB, once reached triggers auto shut down (default = --cache.gc converted to MB, 0 = disabled)
GETH_CLI__DATADIR_MINFREEDISK=

# Backing database implementation to use ('pebble' or 'leveldb')
GETH_CLI__DB_ENGINE=

# Comma separated block number-to-hash mappings to require for peering (<number>=<hash>)
GETH_CLI__ETH_REQUIREDBLOCKS=

# Exits after block synchronisation completes
GETH_CLI__EXITWHENSYNCED=false

# Görli network: pre-configured proof-of-authority test network
GETH_CLI__GOERLI=false

# Holesky network: pre-configured proof-of-stake test network
GETH_CLI__HOLESKY=false

# Ethereum mainnet
GETH_CLI__MAINNET=false

# Explicitly set network id (integer)(For testnets: use --goerli, --sepolia, --holesky instead)
GETH_CLI__NETWORKID=0

# Manually specify the Cancun fork timestamp, overriding the bundled setting
GETH_CLI__OVERRIDE_CANCUN=0

# Manually specify the Verkle fork timestamp, overriding the bundled setting
GETH_CLI__OVERRIDE_VERKLE=0

# Sepolia network: pre-configured proof-of-work test network
GETH_CLI__SEPOLIA=false

# Enables snapshot-database mode (default = enable)
GETH_CLI__SNAPSHOT=true

# GAS PRICE ORACLE

# Number of recent blocks to check for gas prices
GETH_CLI__GPO_BLOCKS=20

# Gas price below which gpo will ignore transactions
GETH_CLI__GPO_IGNOREPRICE=2

# Maximum transaction priority fee (or gasprice before London fork) to be recommended by gpo
GETH_CLI__GPO_MAXPRICE=500000000000

# Suggested gas price is the given percentile of a set of recent transaction gas prices
GETH_CLI__GPO_PERCENTILE=60

# LOGGING AND DEBUGGING

# Compress the log files
GETH_CLI__LOG_COMPRESS=false

# Write logs to a file
GETH_CLI__LOG_FILE=

# Log format to use (json|logfmt|terminal)
GETH_CLI__LOG_FORMAT=

# Maximum number of days to retain a log file
GETH_CLI__LOG_MAXAGE=30

# Maximum number of log files to retain
GETH_CLI__LOG_MAXBACKUPS=10

# Maximum size in MBs of a single log file
GETH_CLI__LOG_MAXSIZE=100

# Enables log file rotation
GETH_CLI__LOG_ROTATE=false

# Per-module verbosity: comma-separated list of <pattern>=<level> (e.g. eth/*=5,p2p=4)
GETH_CLI__LOG_VMODULE=

# Disables db compaction after import
GETH_CLI__NOCOMPACTION=false

# Enable the pprof HTTP server
GETH_CLI__PPROF=false

# pprof HTTP server listening interface
GETH_CLI__PPROF_ADDR="127.0.0.1"

# Turn on block profiling with the given rate
GETH_CLI__PPROF_BLOCKPROFILERATE=0

# Write CPU profile to the given file
GETH_CLI__PPROF_CPUPROFILE=

# Turn on memory profiling with the given rate
GETH_CLI__PPROF_MEMPROFILERATE=524288

# pprof HTTP server listening port
GETH_CLI__PPROF_PORT=6060

# URL for remote database
GETH_CLI__REMOTEDB=

# Write execution trace to the given file
GETH_CLI__TRACE=

# Logging verbosity: 0=silent, 1=error, 2=warn, 3=info, 4=debug, 5=detail
GETH_CLI__VERBOSITY=3

# METRICS AND STATS

# Reporting URL of a ethstats service (nodename:secret@host:port)
GETH_CLI__ETHSTATS=

# Enable metrics collection and reporting
GETH_CLI__METRICS=false

# Enable stand-alone metrics HTTP server listening interface.
GETH_CLI__METRICS_ADDR=

# Enable metrics export/push to an external InfluxDB database
GETH_CLI__METRICS_INFLUXDB=false

# InfluxDB bucket name to push reported metrics to (v2 only)
GETH_CLI__METRICS_INFLUXDB_BUCKET="GETH_CLI_"

# InfluxDB database name to push reported metrics to
GETH_CLI__METRICS_INFLUXDB_DATABASE="GETH_CLI_"

# InfluxDB API endpoint to report metrics to
GETH_CLI__METRICS_INFLUXDB_ENDPOINT="http://localhost:8086"

# InfluxDB organization name (v2 only)
GETH_CLI__METRICS_INFLUXDB_ORGANIZATION="GETH_CLI_"

# Password to authorize access to the database
GETH_CLI__METRICS_INFLUXDB_PASSWORD="test"

# Comma-separated InfluxDB tags (key/values) attached to all measurements
GETH_CLI__METRICS_INFLUXDB_TAGS="host=localhost"

# Token to authorize access to the database (v2 only)
GETH_CLI__METRICS_INFLUXDB_TOKEN="test"

# Username to authorize access to the database
GETH_CLI__METRICS_INFLUXDB_USERNAME="test"

# Enable metrics export/push to an external InfluxDB v2 database
GETH_CLI__METRICS_INFLUXDBV2=false

# Metrics HTTP server listening port.
GETH_CLI__METRICS_PORT=6060

# Please note that --metrics.addr must be set to start the server.
GETH_CLI__METRICS_PORT=

# MINER

# Block extra data set by the miner (default = client version)
GETH_CLI__MINER_EXTRADATA=

# Target gas ceiling for mined blocks
GETH_CLI__MINER_GASLIMIT=30000000

# Minimum gas price for mining a transaction
GETH_CLI__MINER_GASPRICE=1000000000

# 0x prefixed public address for the pending block producer (not used for actual block production)
GETH_CLI__MINER_PENDING_FEERECIPIENT=

# Time interval to recreate the block being mined
GETH_CLI__MINER_RECOMMIT=2s

# MISC


# Hash of the block to full sync to (dev testing feature)
GETH_CLI__SYNCTARGET=

# NETWORKING

# Comma separated enode URLs for P2P discovery bootstrap
GETH_CLI__BOOTNODES=

# Sets DNS discovery entry points (use "" to disable DNS)
GETH_CLI__DISCOVERY_DNS=

# Use a custom UDP port for P2P discovery
GETH_CLI__DISCOVERY_PORT=30303

# Enables the V4 discovery mechanism
GETH_CLI__DISCOVERY_V4=true

# Enables the experimental RLPx V5 (Topic Discovery) mechanism
GETH_CLI__DISCOVERY_V5=false

# Custom node name
GETH_CLI__IDENTITY=

# Maximum number of network peers (network disabled if set to 0)
GETH_CLI__MAXPEERS=50

# Maximum number of pending connection attempts (defaults used if set to 0)
GETH_CLI__MAXPENDPEERS=0

# NAT port mapping mechanism (any|none|upnp|pmp|pmp:<IP>|extip:<IP>)
GETH_CLI__NAT="any"

# Restricts network communication to the given IP networks (CIDR masks)
GETH_CLI__NETRESTRICT=

# P2P node key file
GETH_CLI__NODEKEY=

# P2P node key as hex (for testing)
GETH_CLI__NODEKEYHEX=

# Disables the peer discovery mechanism (manual peer addition)
GETH_CLI__NODISCOVER=false

# Network listening port
GETH_CLI__PORT=30303

# PERFORMANCE TUNING

# Megabytes of memory allocated to internal caching (default = 4096 mainnet full node, 128 light mode)
GETH_CLI__CACHE=1024

# Size (in number of blocks) of the log cache for filtering
GETH_CLI__CACHE_BLOCKLOGS=32

# Percentage of cache memory allowance to use for database io
GETH_CLI__CACHE_DATABASE=50

# Percentage of cache memory allowance to use for trie pruning (default = 25% full mode, 0% archive mode)
GETH_CLI__CACHE_GC=25

# Disable heuristic state prefetch during block import (less CPU and disk IO, more time waiting for data)
GETH_CLI__CACHE_NOPREFETCH=false

# Enable recording the SHA3/keccak preimages of trie keys
GETH_CLI__CACHE_PREIMAGES=false

# Percentage of cache memory allowance to use for snapshot caching (default = 10% full mode, 20% archive mode)
GETH_CLI__CACHE_SNAPSHOT=10

# Percentage of cache memory allowance to use for trie caching (default = 15% full mode, 30% archive mode)
GETH_CLI__CACHE_TRIE=15

# KZG library implementation to use; gokzg (recommended) or ckzg
GETH_CLI__CRYPTO_KZG="gokzg"

# Raise the open file descriptor resource limit (default = system fd limit)
GETH_CLI__FDLIMIT=0

# STATE HISTORY MANAGEMENT

# Blockchain garbage collection mode, only relevant in state.scheme=hash ("full", "archive")
GETH_CLI__GCMODE="full"

# Number of recent blocks to retain state history for (default = 90,000 blocks, 0 = entire chain)
GETH_CLI__HISTORY_STATE=90000

# Number of recent blocks to maintain transactions index for (default = about one year, 0 = entire chain)
GETH_CLI__HISTORY_TRANSACTIONS=2350000

# Scheme to use for storing ethereum state ('hash' or 'path')
GETH_CLI__STATE_SCHEME=

# Blockchain sync mode ("snap" or "full")
GETH_CLI__SYNCMODE="snap"

# TRANSACTION POOL (BLOB)

# Disk space to allocate for pending blob transactions (soft limit)
GETH_CLI__BLOBPOOL_DATACAP=2684354560

# Data directory to store blob transactions in
GETH_CLI__BLOBPOOL_DATADIR="blobpool"

# Price bump percentage to replace an already existing blob transaction
GETH_CLI__BLOBPOOL_PRICEBUMP=100

# TRANSACTION POOL (EVM)

# Maximum number of non-executable transaction slots permitted per account
GETH_CLI__TXPOOL_ACCOUNTQUEUE=64

# Minimum number of executable transaction slots guaranteed per account
GETH_CLI__TXPOOL_ACCOUNTSLOTS=16

# Maximum number of non-executable transaction slots for all accounts
GETH_CLI__TXPOOL_GLOBALQUEUE=1024

# Maximum number of executable transaction slots for all accounts
GETH_CLI__TXPOOL_GLOBALSLOTS=5120

# Disk journal for local transaction to survive node restarts
GETH_CLI__TXPOOL_JOURNAL="transactions.rlp"

# Maximum amount of time non-executable transaction are queued
GETH_CLI__TXPOOL_LIFETIME=3h0m0s

# Comma separated accounts to treat as locals (no flush, priority inclusion)
GETH_CLI__TXPOOL_LOCALS=

# Disables price exemptions for locally submitted transactions
GETH_CLI__TXPOOL_NOLOCALS=false

# Price bump percentage to replace an already existing transaction
GETH_CLI__TXPOOL_PRICEBUMP=10

# Minimum gas price tip to enforce for acceptance into the pool
GETH_CLI__TXPOOL_PRICELIMIT=1

# Time interval to regenerate the local transaction journal
GETH_CLI__TXPOOL_REJOURNAL=1h0m0s

# VIRTUAL MACHINE

# Record information useful for VM and contract debugging
GETH_CLI__VMDEBUG=false

# Name of tracer which should record internal VM operations (costly)
GETH_CLI__VMTRACE=

# Tracer configuration (JSON)
GETH_CLI__VMTRACE_JSONCONFIG=
