# Beacon Chain Node Configuration

# Server URL hosting Beacon Node APIs to fetch weak subjectivity state
LODESTAR_CLI_BN_CHECKPOINT_SYNC_URL=

# Set a checkpoint state to start syncing from
LODESTAR_CLI_BN_CHECKPOINT_STATE=

# Weak subjectivity checkpoint in <blockRoot>:<epoch> format, e.g., 0x1234:100
LODESTAR_CLI_BN_WSS_CHECKPOINT=

# Force syncing from checkpoint state even if db state is within weak subjectivity period
LODESTAR_CLI_BN_FORCE_CHECKPOINT_SYNC=


# HTTP API Configuration

# Enable/disable HTTP API
LODESTAR_CLI_BN_REST=

# Pick namespaces to expose for HTTP API
LODESTAR_CLI_BN_REST_NAMESPACE=

# Configures the Access-Control-Allow-Origin CORS header for HTTP API
LODESTAR_CLI_BN_REST_CORS=

# Set host for HTTP API
LODESTAR_CLI_BN_REST_ADDRESS=

# Set port for HTTP API
LODESTAR_CLI_BN_REST_PORT=

# Enable Swagger UI for API exploration
LODESTAR_CLI_BN_REST_SWAGGER_UI=


# Chain Configuration

# Specify fee recipient default for collecting EL block fees and rewards
LODESTAR_CLI_BN_SUGGESTED_FEE_RECIPIENT=

# Flag to SSE emit execution `payloadAttributes` before every slot
LODESTAR_CLI_BN_EMIT_PAYLOAD_ATTRIBUTES=

# Number of epochs to retain finalized blobs
LODESTAR_CLI_BN_CHAIN_ARCHIVE_BLOB_EPOCHS=


# Eth1 Configuration

# Whether to follow the eth1 chain
LODESTAR_CLI_BN_ETH1=

# URLs to Eth1 node with enabled RPC
LODESTAR_CLI_BN_ETH1_PROVIDER_URLS=


# Execution Configuration

# URLs to execution client engine API
LODESTAR_CLI_BN_EXECUTION_URLS=

# Timeout in milliseconds for execution engine API HTTP client
LODESTAR_CLI_BN_EXECUTION_TIMEOUT=

# Number of retries when calling execution engine API
LODESTAR_CLI_BN_EXECUTION_RETRIES=

# Delay time in milliseconds between retries when retrying calls to the execution engine API
LODESTAR_CLI_BN_EXECUTION_RETRY_DELAY=

# File path to a shared hex-encoded JWT secret for authentication with the EL client's RPC server
LODESTAR_CLI_BN_JWT_SECRET=

# An optional identifier to be set in the id field of the claims included in JWT tokens
LODESTAR_CLI_BN_JWT_ID=


# Builder Configuration

# Enable builder interface
LODESTAR_CLI_BN_BUILDER=

# URL hosting the builder API
LODESTAR_CLI_BN_BUILDER_URL=

# Timeout in milliseconds for builder API HTTP client
LODESTAR_CLI_BN_BUILDER_TIMEOUT=

# Window to inspect missed slots for enabling/disabling builder circuit breaker
LODESTAR_CLI_BN_BUILDER_FAULT_INSPECTION_WINDOW=

# Number of missed slots allowed in the `faultInspectionWindow` for builder circuit breaker
LODESTAR_CLI_BN_BUILDER_ALLOWED_FAULTS=


# Metrics Configuration

# Enable the Prometheus metrics HTTP server
LODESTAR_CLI_BN_METRICS=

# Listen TCP port for the Prometheus metrics HTTP server
LODESTAR_CLI_BN_METRICS_PORT=

# Listen address for the Prometheus metrics HTTP server
LODESTAR_CLI_BN_METRICS_ADDRESS=


# Monitoring Configuration

# Enables monitoring service for sending client stats to a remote service endpoint
LODESTAR_CLI_BN_MONITORING_ENDPOINT=

# Interval in milliseconds between sending client stats to the remote service
LODESTAR_CLI_BN_MONITORING_INTERVAL=


# Network Configuration

# Enable discv5
LODESTAR_CLI_BN_DISCV5=

# The IPv4 address to listen for p2p UDP and TCP connections
LODESTAR_CLI_BN_LISTEN_ADDRESS=

# The TCP/UDP port to listen on
LODESTAR_CLI_BN_PORT=

# The UDP port that discovery will listen on
LODESTAR_CLI_BN_DISCOVERY_PORT=

# The IPv6 address to listen for p2p UDP and TCP connections
LODESTAR_CLI_BN_LISTEN_ADDRESS6=

# The TCP/UDP port to listen on (IPv6)
LODESTAR_CLI_BN_PORT6=

# The UDP port that discovery will listen on (IPv6)
LODESTAR_CLI_BN_DISCOVERY_PORT6=

# Bootnodes for discv5 discovery
LODESTAR_CLI_BN_BOOTNODES=

# The target connected peers, above which peers will be disconnected
LODESTAR_CLI_BN_TARGET_PEERS=

# Subscribe to all subnets regardless of validator count
LODESTAR_CLI_BN_SUBSCRIBE_ALL_SUBNETS=

# Disable peer scoring
LODESTAR_CLI_BN_DISABLE_PEER_SCORING=

# Enable mdns local peer discovery
LODESTAR_CLI_BN_MDNS=


# ENR Configuration

# Override ENR IP entry
LODESTAR_CLI_BN_ENR_IP=

# Override ENR TCP entry
LODESTAR_CLI_BN_ENR_TCP=

# Override ENR UDP entry
LODESTAR_CLI_BN_ENR_UDP=

# Override ENR IPv6 entry
LODESTAR_CLI_BN_ENR_IP6=

# Override ENR (IPv6-specific) TCP entry
LODESTAR_CLI_BN_ENR_TCP6=

# Override ENR (IPv6-specific) UDP entry
LODESTAR_CLI_BN_ENR_UDP6=

# Allow configuration of non-local addresses
LODESTAR_CLI_BN_NAT=


# Miscellaneous Options

# Lodestar root data directory
LODESTAR_CLI_BN_DATA_DIR=

# Name of the Ethereum Consensus chain network to join
LODESTAR_CLI_BN_NETWORK=

# Network configuration file
LODESTAR_CLI_BN_PARAMS_FILE=

# Terminal PoW block TTD override
LODESTAR_CLI_BN_TERMINAL_TOTAL_DIFFICULTY_OVERRIDE=

# Terminal PoW block hash override
LODESTAR_CLI_BN_TERMINAL_BLOCK_HASH_OVERRIDE=

# Terminal PoW block hash override activation epoch
LODESTAR_CLI_BN_TERMINAL_BLOCK_HASH_EPOCH_OVERRIDE=

# RC file to supplement command line args
LODESTAR_CLI_BN_RC_CONFIG=

# Do not send implementation details over p2p identify protocol and in builder, execution engine and eth1 requests
LODESTAR_CLI_BN_PRIVATE=false

# Log validator monitor events as info (requires metrics to be enabled)
LODESTAR_CLI_BN_VALIDATOR_MONITOR_LOGS=

# Logging verbosity level for emitting logs to terminal
LODESTAR_CLI_BN_LOG_LEVEL=

# Path to output all logs to a persistent log file
LODESTAR_CLI_BN_LOG_FILE=

# Logging verbosity level for emitting logs to file
LODESTAR_CLI_BN_LOG_FILE_LEVEL=

# Daily rotate log files, set to an integer to limit the file count, set to 0 (zero) to disable rotation
LODESTAR_CLI_BN_LOG_FILE_DAILY_ROTATE=

# undocumented options 

LODESTAR_CLI_ETH1_DEPOSIT_CONTRACT_DEPLOY_BLOCK=

LODESTAR_CLI_NETWORK_CONNECT_TO_DISCV5_BOOTNODES=

LODESTAR_CLI_BN_GENSIS_STATE_FILE=