# Server url hosting Beacon Node APIs to fetch weak subjectivity state. Fetch latest finalized by default, else set --wssCheckpoint
LODESTAR_CLI_DEV_CHECKPOINT_SYNC_URL=

# Set a checkpoint state to start syncing from
LODESTAR_CLI_DEV_CHECKPOINT_STATE=

# Start beacon node off a state at the provided weak subjectivity checkpoint, to be supplied in <blockRoot>:<epoch> format. For example, 0x1234:100 will sync and start off from the weak subjectivity state at checkpoint of epoch 100 with block root 0x1234.
LODESTAR_CLI_DEV_WSS_CHECKPOINT=

# Force syncing from checkpoint state even if db state is within weak subjectivity period. This helps to avoid long sync times after node has been offline for a while.
LODESTAR_CLI_DEV_FORCE_CHECKPOINT_SYNC=

# Enable/disable HTTP API
LODESTAR_CLI_DEV_REST=

# Pick namespaces to expose for HTTP API. Set to '*' to enable all namespaces
LODESTAR_CLI_DEV_REST_NAMESPACE=

# Configures the Access-Control-Allow-Origin CORS header for HTTP API
LODESTAR_CLI_DEV_REST_CORS=

# Set host for HTTP API
LODESTAR_CLI_DEV_REST_ADDRESS=

# Set port for HTTP API
LODESTAR_CLI_DEV_REST_PORT=

# Enable Swagger UI for API exploration at http://{address}:{port}/documentation
LODESTAR_CLI_DEV_REST_SWAGGER_UI=

# Flag to SSE emit execution `payloadAttributes` before every slot
LODESTAR_CLI_DEV_EMIT_PAYLOAD_ATTRIBUTES=

# Number of epochs to retain finalized blobs (minimum of MIN_EPOCHS_FOR_BLOB_SIDECARS_REQUESTS)
LODESTAR_CLI_DEV_CHAIN_ARCHIVE_BLOB_EPOCHS=

# Whether to follow the eth1 chain
LODESTAR_CLI_DEV_ETH1=

# Urls to Eth1 node with enabled rpc. If not explicitly provided and execution endpoint provided via execution.urls, it will use execution.urls. Otherwise will try connecting on the specified default(s)
LODESTAR_CLI_DEV_ETH1_PROVIDER_URLS=

# Urls to execution client engine API
LODESTAR_CLI_DEV_EXECUTION_URLS=

# Timeout in milliseconds for execution engine API HTTP client
LODESTAR_CLI_DEV_EXECUTION_TIMEOUT=

# Number of retries when calling execution engine API
LODESTAR_CLI_DEV_EXECUTION_RETRIES=

# Delay time in milliseconds between retries when retrying calls to the execution engine API
LODESTAR_CLI_DEV_EXECUTION_RETRY_DELAY=

# File path to a shared hex-encoded jwt secret which will be used to generate and bundle HS256 encoded jwt tokens for authentication with the EL client's rpc server hosting engine apis. Secret to be exactly same as the one used by the corresponding EL client.
LODESTAR_CLI_DEV_JWT_SECRET=

# An optional identifier to be set in the id field of the claims included in jwt tokens used for authentication with EL client's rpc server hosting engine apis
LODESTAR_CLI_DEV_JWT_ID=

# An alias for `--builder.selection default` for the builder flow, ignored if `--builder.selection` is explicitly provided
LODESTAR_CLI_DEV_BUILDER=

# Url hosting the builder API
LODESTAR_CLI_DEV_BUILDER_URL=

# Timeout in milliseconds for builder API HTTP client
LODESTAR_CLI_DEV_BUILDER_TIMEOUT=

# Window to inspect missed slots for enabling/disabling builder circuit breaker
LODESTAR_CLI_DEV_BUILDER_FAULT_INSPECTION_WINDOW=

# Number of missed slots allowed in the `faultInspectionWindow` for builder circuit breaker
LODESTAR_CLI_DEV_BUILDER_ALLOWED_FAULTS=

# Builder block selection strategy `default`, `maxprofit`, `builderalways`, `builderonly`, `executionalways`, or `executiononly`
LODESTAR_CLI_DEV_BUILDER_SELECTION=

# Percentage multiplier the block producing beacon node must apply to boost (>100) or dampen (<100) builder block value for selection against execution block. The multiplier is ignored if `--builder.selection` is set to anything other than `maxprofit`
LODESTAR_CLI_DEV_BUILDER_BOOST_FACTOR=

# Enable the Prometheus metrics HTTP server
LODESTAR_CLI_DEV_METRICS=

# Listen TCP port for the Prometheus metrics HTTP server
LODESTAR_CLI_DEV_METRICS_PORT=

# Listen address for the Prometheus metrics HTTP server
LODESTAR_CLI_DEV_METRICS_ADDRESS=

# Enables monitoring service for sending clients stats to the specified endpoint of a remote service (e.g. beaconcha.in)
LODESTAR_CLI_DEV_MONITORING_ENDPOINT=

# Interval in milliseconds between sending client stats to the remote service
LODESTAR_CLI_DEV_MONITORING_INTERVAL=

# Enable discv5
LODESTAR_CLI_DEV_DISCV5=

# The IPv4 address to listen for p2p UDP and TCP connections
LODESTAR_CLI_DEV_LISTEN_ADDRESS=

# The TCP/UDP port to listen on. The UDP port can be modified by the --discoveryPort flag.
LODESTAR_CLI_DEV_PORT=

# The UDP port that discovery will listen on. Defaults to `port`
LODESTAR_CLI_DEV_DISCOVERY_PORT=

# The IPv6 address to listen for p2p UDP and TCP connections
LODESTAR_CLI_DEV_LISTEN_ADDRESS6=

# The TCP/UDP port to listen on. The UDP port can be modified by the --discoveryPort6 flag.
LODESTAR_CLI_DEV_PORT6=

# The UDP port that discovery will listen on. Defaults to `port6`
LODESTAR_CLI_DEV_DISCOVERY_PORT6=

# Bootnodes for discv5 discovery
LODESTAR_CLI_DEV_BOOTNODES=

# The target connected peers. Above this number peers will be disconnected
LODESTAR_CLI_DEV_TARGET_PEERS=

# Subscribe to all subnets regardless of validator count
LODESTAR_CLI_DEV_SUBSCRIBE_ALL_SUBNETS=

# Disable peer scoring, used for testing on devnets
LODESTAR_CLI_DEV_DISABLE_PEER_SCORING=

# Enable mdns local peer discovery
LODESTAR_CLI_DEV_MDNS=

# Override ENR IP entry
LODESTAR_CLI_DEV_ENR_IP=

# Override ENR TCP entry
LODESTAR_CLI_DEV_ENR_TCP=

# Override ENR UDP entry
LODESTAR_CLI_DEV_ENR_UDP=

# Override ENR IPv6 entry
LODESTAR_CLI_DEV_ENR_IP6=

# Override ENR (IPv6-specific) TCP entry
LODESTAR_CLI_DEV_ENR_TCP6=

# Override ENR (IPv6-specific) UDP entry
LODESTAR_CLI_DEV_ENR_UDP6=

# Allow configuration of non-local addresses
LODESTAR_CLI_DEV_NAT=

# Enable key manager API server
LODESTAR_CLI_DEV_KEYMANAGER=

# Enable token bearer authentication for key manager API server
LODESTAR_CLI_DEV_KEYMANAGER_AUTH_ENABLED=

# Path to file containing bearer token used for key manager API authentication
LODESTAR_CLI_DEV_KEYMANAGER_TOKEN_FILE=

# Set port for key manager API
LODESTAR_CLI_DEV_KEYMANAGER_PORT=

# Set host for key manager API
LODESTAR_CLI_DEV_KEYMANAGER_ADDRESS=

# Configures the Access-Control-Allow-Origin CORS header for key manager API
LODESTAR_CLI_DEV_KEYMANAGER_CORS=

# URL to connect to an external signing server
LODESTAR_CLI_DEV_EXTERNAL_SIGNER_URL=

# List of validator public keys used by an external signer. May also provide a single string of comma-separated public keys
LODESTAR_CLI_DEV_EXTERNAL_SIGNER_PUBKEYS=

# Fetch the list of public keys to validate from an external signer. Cannot be used in combination with `--externalSigner.pubkeys`
LODESTAR_CLI_DEV_EXTERNAL_SIGNER_FETCH=

# Interval in milliseconds between fetching the list of public keys from external signer, once per epoch by default
LODESTAR_CLI_DEV_EXTERNAL_SIGNER_FETCH_INTERVAL=

# If present it will create genesis with this eth1 hash
LODESTAR_CLI_DEV_GENESIS_ETH1_HASH=

# If present it will create genesis with interop validators and start chain.
LODESTAR_CLI_DEV_GENESIS_VALIDATORS=

# Start interop validators in inclusive range with notation '0..7'
LODESTAR_CLI_DEV_START_VALIDATORS=

# genesis_time to initialize interop genesis state
LODESTAR_CLI_DEV_GENESIS_TIME=

# To delete chain and validator directories
LODESTAR_CLI_DEV_RESET=

# Dump testnet files and exit
LODESTAR_CLI_DEV_DUMP_TESTNET_FILES=

# Lodestar root data directory
LODESTAR_CLI_DEV_DATA_DIR=

# Name of the Ethereum Consensus chain network to join
LODESTAR_CLI_DEV_NETWORK=

# Network configuration file
LODESTAR_CLI_DEV_PARAMS_FILE=

# Terminal PoW block TTD override
LODESTAR_CLI_DEV_TERMINAL_TOTAL_DIFFICULTY_OVERRIDE=

# Terminal PoW block hash override
LODESTAR_CLI_DEV_TERMINAL_BLOCK_HASH_OVERRIDE=

# Terminal PoW block hash override activation epoch
LODESTAR_CLI_DEV_TERMINAL_BLOCK_HASH_EPOCH_OVERRIDE=

# RC file to supplement command line args, accepted formats: .yml, .yaml, .json
LODESTAR_CLI_DEV_RC_CONFIG=

# Do not send implementation details over p2p identify protocol and in builder, execution engine and eth1 requests
LODESTAR_CLI_DEV_PRIVATE=

# Log validator monitor events as info. This requires metrics to be enabled.
LODESTAR_CLI_DEV_VALIDATOR_MONITOR_LOGS=

# Logging verbosity level for emitting logs to terminal
LODESTAR_CLI_DEV_LOG_LEVEL=

# Path to output all logs to a persistent log file, use 'none' to disable
LODESTAR_CLI_DEV_LOG_FILE=

# Logging verbosity level for emitting logs to file
LODESTAR_CLI_DEV_LOG_FILE_LEVEL=

# Daily rotate log files, set to an integer to limit the file count, set to 0 (zero) to disable rotation
LODESTAR_CLI_DEV_LOG_FILE_DAILY_ROTATE=

# Specify fee recipient default for collecting the EL block fees and rewards (a hex string representing 20 bytes address: ^0x[a-fA-F0-9]{40}$). It would be possible (WIP) to override this per validator key using config or key manager API. Only used post merge.
LODESTAR_CLI_DEV_SUGGESTED_FEE_RECIPIENT=

# Addresses to connect to BeaconNode
LODESTAR_CLI_DEV_BEACON_NODES=

# Open validators even if there's a lockfile. Use with caution
LODESTAR_CLI_DEV_FORCE=

# Specify your custom graffiti to be included in blocks (plain UTF8 text, 32 characters max)
LODESTAR_CLI_DEV_GRAFFITI=

# A yaml file to specify detailed default and per validator public key customized proposer configs. PS: This feature and its format is in alpha and subject to change
LODESTAR_CLI_DEV_PROPOSER_SETTINGS_FILE=

# Enable strict checking of the validator's `feeRecipient` with the one returned by engine
LODESTAR_CLI_DEV_STRICT_FEE_RECIPIENT_CHECK=

# Suggested gas limit to the engine/builder for building execution payloads. Only used post merge.
LODESTAR_CLI_DEV_DEFAULT_GAS_LIMIT=

# Enable/disable usage of produceBlockV3 for block production, is auto enabled on deneb+ blocks
LODESTAR_CLI_DEV_USE_PRODUCE_BLOCK_V3=

# Validations to be run by beacon node for the signed block prior to publishing
LODESTAR_CLI_DEV_BROADCAST_VALIDATION=

# Request fetching local block in blinded format for produceBlockV3
LODESTAR_CLI_DEV_BLINDED_LOCAL=

# Path(s) to a directory or single file path to validator keystores, i.e. Launchpad validators
LODESTAR_CLI_DEV_IMPORT_KEYSTORES=

# Path to a file with password to decrypt all keystores from `importKeystores` option
LODESTAR_CLI_DEV_IMPORT_KEYSTORES_PASSWORD=

# Enables Doppelganger protection
LODESTAR_CLI_DEV_DOPPELGANGER_PROTECTION=

# Enables specific features required to run as part of a distributed validator
LODESTAR_CLI_DEV_DISTRIBUTED=


# Undocumented options 
# Altair fork epoch parameter
LODESTAR_CLI_DEV_PARAMS_ALTAIR_FORK_EPOCH=

# Bellatrix fork epoch parameter
LODESTAR_CLI_DEV_PARAMS_BELLATRIX_FORK_EPOCH=

LODESTAR_CLI_NETWORK_RATE_LIMIT_MULTIPLIER=