# Data directory for the databases
DATADIR=/home/admin/.local/share/erigon

# Directory to store the ethash mining DAGs
ETHASH_DAGDIR=/home/admin/.local/share/erigon-ethash

# Default: use snapshots "true" for Mainnet, Goerli, Gnosis Chain and Chiado. use snapshots "false" in all other cases
SNAPSHOTS=true

# Enables internal consensus
INTERNALCL=false

# Disabling internal txpool and block producer
TXPOOL_DISABLE=false

# Comma separated accounts to treat as locals (no flush, priority inclusion)
TXPOOL_LOCALS=

# Disables price exemptions for locally submitted transactions
TXPOOL_NOLOCALS=false

# Minimum gas price (fee cap) limit to enforce for acceptance into the pool
TXPOOL_PRICELIMIT=1

# Price bump percentage to replace an already existing transaction
TXPOOL_PRICEBUMP=10

# Price bump percentage to replace existing (type-3) blob transaction
TXPOOL_BLOBPRICEBUMP=100

# Minimum number of executable transaction slots guaranteed per account
TXPOOL_ACCOUNTSLOTS=16

# Max allowed total number of blobs (within type-3 txs) per account
TXPOOL_BLOBSLOTS=48

# Total limit of number of all blobs in txs within the txpool
TXPOOL_TOTALBLOBPOOLLIMIT=480

# Maximum number of executable transaction slots for all accounts
TXPOOL_GLOBALSLOTS=10000

# Maximum number of non-executable transactions where only not enough baseFee
TXPOOL_GLOBALBASEFEESLOTS=30000

# Maximum number of non-executable transaction slots permitted per account
TXPOOL_ACCOUNTQUEUE=64

# Maximum number of non-executable transaction slots for all accounts
TXPOOL_GLOBALQUEUE=30000

# Maximum amount of time non-executable transaction are queued
TXPOOL_LIFETIME=3h0m0s

# Comma separated list of addresses, whose transactions will be traced in transaction pool with debug printing
TXPOOL_TRACE_SENDERS=

# How often transactions should be committed to the storage
TXPOOL_COMMIT_EVERY=15s

# Choose which ancient data to delete from DB
PRUNE=

# Prune data older than this number of blocks from the tip of the chain (if --prune flag has 'h')
PRUNE_H_OLDER=90000

# Prune data older than this number of blocks from the tip of the chain
PRUNE_R_OLDER=0

# Prune data older than this number of blocks from the tip of the chain (if --prune flag has 't')
PRUNE_T_OLDER=90000

# Prune data older than this number of blocks from the tip of the chain (if --prune flag has 'c')
PRUNE_C_OLDER=90000

# Prune data before this block
PRUNE_H_BEFORE=0

# Prune data before this block
PRUNE_R_BEFORE=0

# Prune data before this block
PRUNE_T_BEFORE=0

# Prune data before this block
PRUNE_C_BEFORE=0

# Batch size for the execution stage
BATCHSIZE=256M

# Limit on the cache for block bodies
BODIES_CACHE=268435456

# Enabling internal db logs
DATABASE_VERBOSITY=2

# Erigon's components can be deployed as independent Processes on the same or another server
PRIVATE_API_ADDR=127.0.0.1:9090

# Amount of requests server handle simultaneously
PRIVATE_API_RATELIMIT=31872

# Buffer size for ETL operations
ETL_BUFFERSIZE=256MB

# Enable TLS handshake
TLS=false

# Specify certificate
TLS_CERT=

# Specify key file
TLS_KEY=

# Specify certificate authority
TLS_CACERT=

# Disable streaming of state changes from core to RPC daemon
STATE_STREAM_DISABLE=false

# Sets the minimum time between sync loop starts
SYNC_LOOP_THROTTLE=

# Marks block with given hex string as bad
BAD_BLOCK=

# JSON-RPC server
HTTP=true

# JSON-RPC HTTP server
HTTP_ENABLED=true

# Enable the graphql endpoint
GRAPHQL=false

# HTTP-RPC server listening interface
HTTP_ADDR=localhost

# HTTP-RPC server listening port
HTTP_PORT=8545

# HTTP-RPC server listening interface for the Engine API
AUTHRPC_ADDR=localhost

# HTTP-RPC server listening port for the Engine API
AUTHRPC_PORT=8551

# Path to the token that ensures a safe connection between CL and EL
AUTHRPC_JWTSECRET=

# Enable compression over HTTP-RPC
HTTP_COMPRESSION=false

# Comma separated list of domains from which to accept cross-origin requests
HTTP_CORSDOMAIN=

# Comma separated list of virtual hostnames from which to accept requests
HTTP_VHOSTS=localhost

# Comma separated list of virtual hostnames from which to accept Engine API requests
AUTHRPC_VHOSTS=localhost

# API's offered over the HTTP-RPC interface
HTTP_API=eth,erigon,engine

# WS-RPC server listening port
WS_PORT=8546

# Enable the WS-RPC server
WS=false

# Enable compression over WebSocket
WS_COMPRESSION=false

# Print all HTTP requests to logs with INFO level
HTTP_TRACE=false

# Allow passing HTTP header 'dbg: true' to print more detailed logs
HTTP_DBG_SINGLE=false

# Amount of data to store in StateCache
STATE_CACHE=0MB

# Does limit the number of goroutines to process 1 batch request
RPC_BATCH_CONCURRENCY=2

# Disable json streaming for some heavy endpoints
RPC_STREAMING_DISABLE=false

# Limit amount of parallel db reads
DB_READ_CONCURRENCY=768

# Specify granular (method-by-method) API allowlist
RPC_ACCESSLIST=

# Bug for bug compatibility with OE for trace_ routines
TRACE_COMPAT=false

# Sets a cap on gas that can be used in eth_call/estimateGas
RPC_GASCAP=50000000

# Maximum number of requests in a batch
RPC_BATCH_LIMIT=100

# Maximum number of bytes returned from eth_call or similar invocations
RPC_RETURNDATA_LIMIT=100000

# Allow for unprotected (non-EIP155 signed) transactions to be submitted via RPC
RPC_ALLOW_UNPROTECTED_TXS=false

# Max GetProof rewind block count
RPC_MAXGETPROOFREWINDBLOCKCOUNT_LIMIT=100000

# Sets a cap on transaction fee (in ether) that can be sent via the RPC APIs
RPC_TXFEECAP=1

# TxPool api network address
TXPOOL_API_ADDR=

# Sets a limit on traces that can be returned in trace_filter
TRACE_MAXTRACES=200

# Maximum duration for reading the entire request
HTTP_TIMEOUTS_READ=30s

# Maximum duration before timing out writes of the response
HTTP_TIMEOUTS_WRITE=30m0s

# Maximum amount of time to wait for the next request when keep-alives are enabled
HTTP_TIMEOUTS_IDLE=2m0s

# Maximum duration for reading the entire request
AUTHRPC_TIMEOUTS_READ=30s

# Maximum duration before timing out writes of the response
AUTHRPC_TIMEOUTS_WRITE=30m0s

# Maximum amount of time to wait for the next request when keep-alives are enabled
AUTHRPC_TIMEOUTS_IDLE=2m0s

# Maximum amount of time to wait for the answer from EVM call
RPC_EVMTIMEOUT=5m0s

# Maximum amount of time to wait for the answer from the overlay_getLogs call
RPC_OVERLAY_GETLOGSTIMEOUT=5m0s

# Maximum amount of time to wait for the answer to replay a single block when called from an overlay_getLogs call
RPC_OVERLAY_REPLAYBLOCKTIMEOUT=10s

# Keep ancient blocks in db
SNAP_KEEPBLOCKS=false

# Stop producing new snapshots
SNAP_STOP=false

# DB is split into 'pages' of fixed size
DB_PAGESIZE=8KB

# Runtime limit of chaindata db size
DB_SIZE_LIMIT=12TB

# Force data commit after each stage
FORCE_PARTIAL_COMMIT=false

# Port to listen and serve BitTorrent protocol
TORRENT_PORT=42069

# Number of connections per file
TORRENT_CONNS_PERFILE=10

# Amount of files to download in parallel
TORRENT_DOWNLOAD_SLOTS=3

# Comma separated enode URLs to connect to
TORRENT_STATICPEERS=

# Bytes per second for upload
TORRENT_UPLOAD_RATE=4mb

# Bytes per second for download
TORRENT_DOWNLOAD_RATE=16mb

# Verbosity level for BitTorrent protocol
TORRENT_VERBOSITY=2

# Network listening port
PORT=30303

# Version of eth p2p protocol
P2P_PROTOCOL=68,67

# Allowed ports to pick for different eth p2p protocol versions
P2P_ALLOWED_PORTS=30303,30304,30305,30306,30307

# NAT port mapping mechanism
NAT=any

# Disables the peer discovery mechanism
NODISCOVER=false

# Enables the experimental RLPx V5 (Topic Discovery) mechanism
V5DISC=false

# Restricts network communication to the given IP networks
NETRESTRICT=

# P2P node key file
NODEKEY=

# P2P node key as hex (for testing)
NODEKEYHEX=

# Sets DNS discovery entry points
DISCOVERY_DNS=

# Comma separated enode URLs for P2P discovery bootstrap
BOOTNODES=

# Comma separated enode URLs to connect to
STATICPEERS=

# Comma separated enode URLs which are always allowed to connect, even above the peer limit
TRUSTEDPEERS=

# Maximum number of network peers
MAXPEERS=100

# Name of the network to join
CHAIN=mainnet

# Block period to use in developer mode
DEV_PERIOD=0

# Record information useful for VM and contract debugging
VMDEBUG=false

# Explicitly set network id
NETWORKID=1

# Disables proof-of-work verification
FAKEPOW=false

# Number of recent blocks to check for gas prices
GPO_BLOCKS=20

# Suggested gas price is the given percentile of a set of recent transaction gas prices
GPO_PERCENTILE=60

# Allow insecure account unlocking when account-related RPCs are exposed by http
ALLOW_INSECURE_UNLOCK=false

# Custom node name
IDENTITY=

# Number of blocks after which to save the vote snapshot to the database
CLIQUE_CHECKPOINT=10

# Number of recent vote snapshots to keep in memory
CLIQUE_SNAPSHOTS=1024

# Number of recent block signatures to keep in memory
CLIQUE_SIGNATURES=16384

# Path to clique db folder
CLIQUE_DATADIR=

# Enable mining
MINE=false

# Disables PoS proposer
PROPOSER_DISABLE=false

# Comma separated HTTP URL list to notify of new work packages
MINER_NOTIFY=

# Target gas limit for mined blocks
MINER_GASLIMIT=30000000

# Public address for block mining rewards
MINER_ETHERBASE=0

# Block extra data set by the miner
MINER_EXTRADATA=

# Disable remote sealing verification
MINER_NOVERIFY=false

# Private key to sign blocks with
MINER_SIGFILE=

# Time interval to recreate the block being mined
MINER_RECOMMIT=3s

# Comma separated sentry addresses
SENTRY_API_ADDR=

# Log detailed peer info when a peer connects or disconnects
SENTRY_LOG_PEER_INFO=false

# Downloader address
DOWNLOADER_API_ADDR=

# Turns off ipv4 for the downloader
DOWNLOADER_DISABLE_IPV4=false

# Turns off ipv6 for the downloader
DOWNLOADER_DISABLE_IPV6=false

# Disables downloader component
NO_DOWNLOADER=false

# Verify snapshots on startup
DOWNLOADER_VERIFY=false

# Enable grpc health check
HEALTHCHECK=false

# URL of Heimdall service
BOR_HEIMDALL=http://localhost:1317

# Comma-separated URL's, holding metadata about network-support infrastructure
WEBSEED=

# Run without Heimdall service
BOR_WITHOUTHEIMDALL=false

# Override the bor block period
BOR_PERIOD=

# Ignore the bor block period and wait for 'blocksize' transactions
BOR_MINBLOCKSIZE=

# Enabling bor milestone processing
BOR_MILESTONE=true

# Enabling bor waypoint recording
BOR_WAYPOINTS=false

# Enabling syncing using the new polygon sync component
POLYGON_SYNC=false

# Reporting URL of an ethstats service
ETHSTATS=

# Manually specify the Prague fork time, overriding the bundled setting
OVERRIDE_PRAGUE=0

# Address for lightclient DISCV5 protocol
LIGHTCLIENT_DISCOVERY_ADDR=127.0.0.1

# Port for lightclient DISCV5 protocol
LIGHTCLIENT_DISCOVERY_PORT=4000

# TCP Port for lightclient DISCV5 protocol
LIGHTCLIENT_DISCOVERY_TCPPORT=4001

# Address for sentinel
SENTINEL_ADDR=localhost

# Port for sentinel
SENTINEL_PORT=7777

# Max allowed page size for search methods
OTS_SEARCH_MAX_PAGESIZE=25

# Enable Silkworm block execution
SILKWORM_EXEC=false

# Enable embedded Silkworm RPC service
SILKWORM_RPC=false

# Enable embedded Silkworm Sentry service
SILKWORM_SENTRY=false

# Set the log level for Silkworm console logs
SILKWORM_VERBOSITY=info

# Number of I/O contexts used in embedded Silkworm RPC and Sentry services
SILKWORM_CONTEXTS=0

# Enable interface log for embedded Silkworm RPC service
SILKWORM_RPC_LOG=false

# Max interface log file size in MB for embedded Silkworm RPC service
SILKWORM_RPC_LOG_MAXSIZE=1

# Max interface log files for embedded Silkworm RPC service
SILKWORM_RPC_LOG_MAXFILES=100

# Dump responses in interface logs for embedded Silkworm RPC service
SILKWORM_RPC_LOG_RESPONSE=false

# Number of worker threads used in embedded Silkworm RPC service
SILKWORM_RPC_WORKERS=0

# Preserve JSON-RPC compatibility using embedded Silkworm RPC service
SILKWORM_RPC_COMPATIBILITY=true

# Enable beacon API
BEACON_API=

# Sets the host to listen for beacon API requests
BEACON_API_ADDR=localhost

# Set the CORS' allow methods for beacon API
BEACON_API_CORS_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS

# Set the CORS' allow origins for beacon API
BEACON_API_CORS_ALLOW_ORIGINS=

# Set the CORS' allow credentials for beacon API
BEACON_API_CORS_ALLOW_CREDENTIALS=false

# Sets the port to listen for beacon API requests
BEACON_API_PORT=5555

# Sets the seconds for a read timeout in the beacon API
BEACON_API_READ_TIMEOUT=5

# Sets the seconds for a write timeout in the beacon API
BEACON_API_WRITE_TIMEOUT=5

# Protocol for beacon API
BEACON_API_PROTOCOL=tcp

# Sets the seconds for a write timeout in the beacon API
BEACON_API_IDE_TIMEOUT=25

# Enable backfilling for caplin
CAPLIN_BACKFILLING=false

# Enable backfilling for caplin blobs
CAPLIN_BACKFILLING_BLOB=false

# Disable blob pruning in caplin
CAPLIN_BACKFILLING_BLOB_NO_PRUNING=false

# Enable archival node in caplin
CAPLIN_ARCHIVE=false

# Absolute path to trusted_setup.json file
TRUSTED_SETUP_FILE=

# Print in logs RPC requests slower than the given threshold
RPC_SLOW=0s

# Disabling p2p gossip of txs
TXPOOL_GOSSIP_DISABLE=false

# Sets the maximum number of blocks to process per loop iteration
SYNC_LOOP_BLOCK_LIMIT=0

# Sets the last stage of the sync loop to run
SYNC_LOOP_BREAK_AFTER=

# Sets the maximum number of blocks to prune per loop iteration
SYNC_LOOP_PRUNE_LIMIT=100

# Enable the pprof HTTP server
PPROF=false

# pprof HTTP server listening interface
PPROF_ADDR=0.0.0.0

# pprof HTTP server listening port
PPROF_PORT=6060

# Write CPU profile to the given file
PPROF_CPUPROFILE=

# Write execution trace to the given file
TRACE=

# Enable metrics collection and reporting
METRICS=false

# Enable stand-alone metrics HTTP server listening interface
METRICS_ADDR=0.0.0.0

# Metrics HTTP server listening port
METRICS_PORT=6060

# Disable diagnostics
DIAGNOSTICS_DISABLED=false

# Diagnostics HTTP server listening interface
DIAGNOSTICS_ENDPOINT_ADDR=0.0.0.0

# Diagnostics HTTP server listening port
DIAGNOSTICS_ENDPOINT_PORT=6060

# Format console logs with JSON
LOG_JSON=false

# Format console logs with JSON
LOG_CONSOLE_JSON=false

# Format file logs with JSON
LOG_DIR_JSON=false

# Set the log level for console logs
VERBOSITY=info

# Set the log level for console logs
LOG_CONSOLE_VERBOSITY=info

# Disable disk logging
LOG_DIR_DISABLE=false

# Path to store user and error logs to disk
LOG_DIR_PATH=

# The file name prefix for logs stored to disk
LOG_DIR_PREFIX=

# Set the log verbosity for logs stored to disk
LOG_DIR_VERBOSITY=info

# Enable block delay logging
LOG_DELAYS=false
