# Erigon Environment Configuration

# Data directory for the databases
ERIGON_CLI_DATADIR=/home/eniko/.local/share/erigon

# Directory to store the ethash mining DAGs
ERIGON_CLI_ETHASH_DAGDIR=/home/eniko/.local/share/erigon-ethash

# Default: use snapshots "true" for Mainnet, Goerli, Gnosis Chain and Chiado. use snapshots "false" in all other cases
ERIGON_CLI_SNAPSHOTS=true

# Enables internal consensus
ERIGON_CLI_INTERNALCL=false

# Experimental external pool and block producer. Disables internal txpool and block producer.
ERIGON_CLI_TXPOOL_DISABLE=false

# Comma separated accounts to treat as locals (no flush, priority inclusion)
ERIGON_CLI_TXPOOL_LOCALS=

# Disables price exemptions for locally submitted transactions
ERIGON_CLI_TXPOOL_NOLOCALS=false

# Minimum gas price (fee cap) limit to enforce for acceptance into the pool
ERIGON_CLI_TXPOOL_PRICELIMIT=1

# Price bump percentage to replace an already existing transaction
ERIGON_CLI_TXPOOL_PRICEBUMP=10

# Price bump percentage to replace existing (type-3) blob transaction
ERIGON_CLI_TXPOOL_BLOBPRICEBUMP=100

# Minimum number of executable transaction slots guaranteed per account
ERIGON_CLI_TXPOOL_ACCOUNTSLOTS=16

# Max allowed total number of blobs (within type-3 txs) per account
ERIGON_CLI_TXPOOL_BLOBSLOTS=48

# Total limit of number of all blobs in txs within the txpool
ERIGON_CLI_TXPOOL_TOTALBLOBPOOLLIMIT=480

# Maximum number of executable transaction slots for all accounts
ERIGON_CLI_TXPOOL_GLOBALSLOTS=10000

# Maximum number of non-executable transactions where only not enough baseFee
ERIGON_CLI_TXPOOL_GLOBALBASEFEESLOTS=30000

# Maximum number of non-executable transaction slots permitted per account
ERIGON_CLI_TXPOOL_ACCOUNTQUEUE=64

# Maximum number of non-executable transaction slots for all accounts
ERIGON_CLI_TXPOOL_GLOBALQUEUE=30000

# Maximum amount of time non-executable transactions are queued
ERIGON_CLI_TXPOOL_LIFETIME=3h0m0s

# Comma separated list of addresses, whose transactions will be traced in transaction pool with debug printing
ERIGON_CLI_TXPOOL_TRACE_SENDERS=

# How often transactions should be committed to the storage
ERIGON_CLI_TXPOOL_COMMIT_EVERY=15s

# Choose which ancient data to delete from the database
# h - prune history
# r - prune receipts
# t - prune transaction by its hash index
# c - prune call traces
# Example: PRUNE=htc
ERIGON_CLI_PRUNE=disabled

# Prune data older than this number of blocks from the tip of the chain (if PRUNE flag has 'h', then default is 90K)
ERIGON_CLI_PRUNE_H_OLDER=0

# Prune data older than this number of blocks from the tip of the chain
ERIGON_CLI_PRUNE_R_OLDER=0

# Prune data older than this number of blocks from the tip of the chain (if PRUNE flag has 't', then default is 90K)
ERIGON_CLI_PRUNE_T_OLDER=0

# Prune data older than this number of blocks from the tip of the chain (if PRUNE flag has 'c', then default is 90K)
ERIGON_CLI_PRUNE_C_OLDER=0

# Prune data before this block
ERIGON_CLI_PRUNE_H_BEFORE=0

# Prune data before this block
ERIGON_CLI_PRUNE_R_BEFORE=0

# Prune data before this block
ERIGON_CLI_PRUNE_T_BEFORE=0

# Prune data before this block
ERIGON_CLI_PRUNE_C_BEFORE=0

# Batch size for the execution stage
ERIGON_CLI_BATCH_SIZE=256M

# Limit on the cache for block bodies
ERIGON_CLI_BODIES_CACHE=268435456

# Enabling internal db logs. Very high verbosity levels may require recompile db.
ERIGON_CLI_DATABASE_VERBOSITY=2

# Erigon's components can be deployed as independent processes on the same/another server. Components will connect to erigon by this internal grpc API. Do not expose to public network. 
ERIGON_CLI_PRIVATE_API_ADDR=127.0.0.1:9090

# Amount of requests server can handle simultaneously - requests over this limit will wait.
ERIGON_CLI_PRIVATE_API_RATELIMIT=31872

# Buffer size for ETL operations.
ERIGON_CLI_ETL_BUFFER_SIZE=256MB

# Enable TLS handshake
ERIGON_CLI_TLS=false

# Specify certificate for TLS
ERIGON_CLI_TLS_CERT=

# Specify key file for TLS
ERIGON_CLI_TLS_KEY=

# Specify certificate authority for TLS
ERIGON_CLI_TLS_CACERT=

# Disable streaming of state changes from core to RPC daemon
ERIGON_CLI_STATE_STREAM_DISABLE=false

# Sets the minimum time between sync loop starts (e.g., 1h30m)
ERIGON_CLI_SYNC_LOOP_THROTTLE=

# Marks block with given hex string as bad and forces initial reorg before normal staged sync
ERIGON_CLI_BAD_BLOCK=

# JSON-RPC server (enabled by default). Use HTTP=false to disable it.
ERIGON_CLI_HTTP=true

# JSON-RPC HTTP server (enabled by default). Use HTTP_ENABLED=false to disable it.
ERIGON_CLI_HTTP_ENABLED=true

# Enable the GraphQL endpoint
ERIGON_CLI_GRAPHQL=false

# HTTP-RPC server listening interface
ERIGON_CLI_HTTP_ADDR=localhost

# HTTP-RPC server listening port
ERIGON_CLI_HTTP_PORT=8545

# HTTP-RPC server listening interface for the Engine API
ERIGON_CLI_AUTHRPC_ADDR=localhost

# HTTP-RPC server listening port for the Engine API
ERIGON_CLI_AUTHRPC_PORT=8551

# Path to the token that ensures safe connection between CL and EL
ERIGON_CLI_AUTHRPC_JWTSECRET=

# Enable compression over HTTP-RPC
ERIGON_CLI_HTTP_COMPRESSION=false

# Comma separated list of domains from which to accept cross-origin requests (browser enforced)
ERIGON_CLI_HTTP_CORSDOMAIN=

# Comma separated list of virtual hostnames from which to accept requests (server enforced). Accepts 'any' or '*' as wildcard.
ERIGON_CLI_HTTP_VHOSTS=localhost

# Comma separated list of virtual hostnames from which to accept Engine API requests (server enforced). Accepts 'any' or '*' as wildcard.
ERIGON_CLI_AUTHRPC_VHOSTS=localhost

# APIs offered over the HTTP-RPC interface
ERIGON_CLI_HTTP_API=eth,erigon,engine

# WS-RPC server listening port
ERIGON_CLI_WS_PORT=8546

# Enable the WS-RPC server
ERIGON_CLI_WS=false

# Enable compression over WebSocket
ERIGON_CLI_WS_COMPRESSION=false

# Print all HTTP requests to logs with INFO level
ERIGON_CLI_HTTP_TRACE=false

# Allow pass HTTP header 'dbg: true' to print more detailed logs - how this request was executed
ERIGON_CLI_HTTP_DBG_SINGLE=false

# Amount of data to store in StateCache (enabled if no DATADIR set). Set 0 to disable StateCache.
ERIGON_CLI_STATE_CACHE=0MB

# Limit amount of goroutines to process 1 batch request. Means 1 batch request can't overload server.
ERIGON_CLI_RPC_BATCH_CONCURRENCY=2

# Disable JSON streaming for some heavy endpoints (like trace_*) to reduce RAM usage.
ERIGON_CLI_RPC_STREAMING_DISABLE=false

# Limit amount of parallel db reads. Default: equal to GOMAXPROCS (or number of CPU)
ERIGON_CLI_DB_READ_CONCURRENCY=1024

# Specify granular (method-by-method) API allowlist
ERIGON_CLI_RPC_ACCESSLIST=

# Bug for bug compatibility with OE for trace_ routines
ERIGON_CLI_TRACE_COMPAT=false

# Sets a cap on gas that can be used in eth_call/estimateGas
ERIGON_CLI_RPC_GASCAP=50000000

# Maximum number of requests in a batch
ERIGON_CLI_RPC_BATCH_LIMIT=100

# Maximum number of bytes returned from eth_call or similar invocations
ERIGON_CLI_RPC_RETURNDATA_LIMIT=100000

# Allow for unprotected (non-EIP155 signed) transactions to be submitted via RPC
ERIGON_CLI_RPC_ALLOW_UNPROTECTED_TXS=false

# Max GetProof rewind block count
ERIGON_CLI_RPC_MAXGETPROOFREWINDBLOCKCOUNT_LIMIT=100000

# Sets a cap on transaction fee (in ether) that can be sent via the RPC APIs (0 = no cap)
ERIGON_CLI_RPC_TXFEECAP=1

# TxPool API network address
ERIGON_CLI_TXPOOL_API_ADDR=127.0.0.1:9090

# Sets a limit on traces that can be returned in trace_filter
ERIGON_CLI_TRACE_MAXTRACES=200

# Maximum duration for reading the entire request, including the body.
ERIGON_CLI_HTTP_TIMEOUTS_READ=30s

# Maximum duration before timing out writes of the response. It is reset whenever a new request's header is read.
ERIGON_CLI_HTTP_TIMEOUTS_WRITE=30m0s

# Maximum amount of time to wait for the next request when keep-alives are enabled. If HTTP_TIMEOUTS_IDLE is zero, the value of HTTP_TIMEOUTS_READ is used.
ERIGON_CLI_HTTP_TIMEOUTS_IDLE=2m0s

# Maximum duration for reading the entire request, including the body for authrpc.
ERIGON_CLI_AUTHRPC_TIMEOUTS_READ=30s

# Maximum duration before timing out writes of the response for authrpc. It is reset whenever a new request's header is read.
ERIGON_CLI_AUTHRPC_TIMEOUTS_WRITE=30m0s

# Maximum amount of time to wait for the next request when keep-alives are enabled for authrpc. If AUTHRPC_TIMEOUTS_IDLE is zero, the value of AUTHRPC_TIMEOUTS_READ is used.
ERIGON_CLI_AUTHRPC_TIMEOUTS_IDLE=2m0s

# Maximum amount of time to wait for the answer from EVM call.
ERIGON_CLI_RPC_EVMTIMEOUT=5m0s

# Maximum amount of time to wait for the answer from the overlay_getLogs call.
ERIGON_CLI_RPC_OVERLAY_GETLOGSTIMEOUT=5m0s

# Maximum amount of time to wait for the answer to replay a single block when called from an overlay_getLogs call.
ERIGON_CLI_RPC_OVERLAY_REPLAYBLOCKTIMEOUT=10s

# Keep ancient blocks in db (useful for debug)
ERIGON_CLI_SNAP_KEEPBLOCKS=false

# Stop producing new snapshots, if you meet some snapshots-related critical bug.
ERIGON_CLI_SNAP_STOP=false

# DB is split into 'pages' of fixed size. Cannot change DB creation. Must be power of 2 and '256b <= pagesize <= 64kb'.
ERIGON_CLI_DB_PAGESIZE=8KB

# Runtime limit of chaindata db size. You can change value of this flag at any time.
ERIGON_CLI_DB_SIZE_LIMIT=12TB

# Force data commit after each stage. Don't use this flag if node is synced.
ERIGON_CLI_FORCE_PARTIAL_COMMIT=false

# Port to listen and serve BitTorrent protocol
ERIGON_CLI_TORRENT_PORT=42069

# Number of connections per file for BitTorrent protocol
ERIGON_CLI_TORRENT_CONN_PERFILE=10

# Amount of files to download in parallel for BitTorrent protocol.
ERIGON_CLI_TORRENT_DOWNLOAD_SLOTS=3

# Comma separated enode URLs to connect to for BitTorrent protocol
ERIGON_CLI_TORRENT_STATICPEERS=

# Bytes per second for BitTorrent upload rate
ERIGON_CLI_TORRENT_UPLOAD_RATE=4mb

# Bytes per second for BitTorrent download rate
ERIGON_CLI_TORRENT_DOWNLOAD_RATE=16mb

# Log level for BitTorrent protocol
ERIGON_CLI_TORRENT_VERBOSITY=2

# Network listening port
ERIGON_CLI_PORT=30303

# Version of eth p2p protocol
ERIGON_CLI_P2P_PROTOCOL=68, 67

# Allowed ports to pick for different eth p2p protocol versions
ERIGON_CLI_P2P_ALLOWED_PORTS=30303, 30304, 30305, 30306, 30307

# NAT port mapping mechanism (any|none|upnp|pmp|stun|extip:<IP>)
ERIGON_CLI_NAT=none

# Disables the peer discovery mechanism
ERIGON_CLI_NODISCOVER=false

# Enables the experimental RLPx V5 (Topic Discovery) mechanism
ERIGON_CLI_V5DISC=false

# Restricts network communication to the given IP networks (CIDR masks)
ERIGON_CLI_NETRESTRICT=

# P2P node key file
ERIGON_CLI_NODEKEY=

# P2P node key as hex (for testing)
ERIGON_CLI_NODEKEYHEX=

# Sets DNS discovery entry points (use "" to disable DNS)
ERIGON_CLI_DISCOVERY_DNS=

# Comma separated enode URLs for P2P discovery bootstrap
ERIGON_CLI_BOOTNODES=

# Comma separated enode URLs to connect to
ERIGON_CLI_STATICPEERS=

# Comma separated enode URLs which are always allowed to connect, even above the peer limit
ERIGON_CLI_TRUSTEDPEERS=

# Maximum number of network peers (network disabled if set to 0)
ERIGON_CLI_MAXPEERS=100

# Name of the network to join
ERIGON_CLI_CHAIN=mainnet

# Block period to use in developer mode (0 = mine only if transaction pending)
ERIGON_CLI_DEV_PERIOD=0

# Record information useful for VM and contract debugging
ERIGON_CLI_VMDEBUG=false

# Explicitly set network id (integer)
ERIGON_CLI_NETWORKID=1

# Disables proof-of-work verification
ERIGON_CLI_FAKEPOW=false

# Number of recent blocks to check for gas prices
ERIGON_CLI_GPO_BLOCKS=20

# Suggested gas price is the given percentile of a set of recent transaction gas prices
ERIGON_CLI_GPO_PERCENTILE=60

# Allow insecure account unlocking when account-related RPCs are exposed by http
ERIGON_CLI_ALLOW_INSECURE_UNLOCK=false

# Custom node name
ERIGON_CLI_IDENTITY=

# Number of blocks after which to save the vote snapshot to the database
ERIGON_CLI_CLIQUE_CHECKPOINT=10

# Number of recent vote snapshots to keep in memory
ERIGON_CLI_CLIQUE_SNAPSHOTS=1024

# Number of recent block signatures to keep in memory
ERIGON_CLI_CLIQUE_SIGNATURES=16384

# Path to clique db folder
ERIGON_CLI_CLIQUE_DATADIR=

# Enable mining
ERIGON_CLI_MINE=false

# Disables PoS proposer
ERIGON_CLI_PROPOSER_DISABLE=false

# Comma separated HTTP URL list to notify of new work packages
ERIGON_CLI_MINER_NOTIFY=

# Target gas limit for mined blocks
ERIGON_CLI_MINER_GASLIMIT=30000000

# Public address for block mining rewards
ERIGON_CLI_MINER_ETHERBASE=0

# Block extra data set by the miner
ERIGON_CLI_MINER_EXTRADATA=

# Disable remote sealing verification
ERIGON_CLI_MINER_NOVERIFY=false

# Private key to sign blocks with
ERIGON_CLI_MINER_SIGFILE=

# Time interval to recreate the block being mined
ERIGON_CLI_MINER_RECOMMIT=3s

# Comma separated sentry addresses '<host>:<port>,<host>:<port>'
ERIGON_CLI_SENTRY_API_ADDR=

# Log detailed peer info when a peer connects or disconnects. Enable to integrate with observer.
ERIGON_CLI_SENTRY_LOG_PEER_INFO=false

# Downloader address '<host>:<port>'
ERIGON_CLI_DOWNLOADER_API_ADDR=

# Turns off ipv4 for the downloader
ERIGON_CLI_DOWNLOADER_DISABLE_IPV4=false

# Turns off ipv6 for the downloader
ERIGON_CLI_DOWNLOADER_DISABLE_IPV6=false

# Disables downloader component
ERIGON_CLI_NO_DOWNLOADER=false

# Verify snapshots on startup. It will not report problems found, but re-download broken pieces.
ERIGON_CLI_DOWNLOADER_VERIFY=false

# Enable grpc health check
ERIGON_CLI_HEALTHCHECK=false

# URL of Heimdall service
ERIGON_CLI_BOR_HEIMDALL=http://localhost:1317

# Comma-separated URL's, holding metadata about network-support infrastructure (like S3 buckets with snapshots, bootnodes, etc...)
ERIGON_CLI_WEBSEED=

# Run without Heimdall service (for testing purposes)
ERIGON_CLI_BOR_WITHOUTHEIMDALL=false

# Override the bor block period (for testing purposes)
ERIGON_CLI_BOR_PERIOD=

# Ignore the bor block period and wait for 'blocksize' transactions (for testing purposes)
ERIGON_CLI_BOR_MINBLOCKSIZE=

# Enabling bor milestone processing
ERIGON_CLI_BOR_MILESTONE=true

# Enabling bor waypoint recording
ERIGON_CLI_BOR_WAYPOINTS=false

# Enabling syncing using the new polygon sync component
ERIGON_CLI_POLYGON_SYNC=false

# Reporting URL of an ethstats service
ERIGON_CLI_ETHSTATS=

# Manually specify the Prague fork time, overriding the bundled setting
ERIGON_CLI_OVERRIDE_PRAGUE=0

# Address for lightclient DISCV5 protocol
ERIGON_CLI_LIGHTCLIENT_DISCOVERY_ADDR=127.0.0.1

# Port for lightclient DISCV5 protocol
ERIGON_CLI_LIGHTCLIENT_DISCOVERY_PORT=4000

# TCP Port for lightclient DISCV5 protocol
ERIGON_CLI_LIGHTCLIENT_DISCOVERY_TCPPORT=4001

# Address for sentinel
ERIGON_CLI_SENTINEL_ADDR=localhost

# Port for sentinel
ERIGON_CLI_SENTINEL_PORT=7777

# Max allowed page size for search methods
ERIGON_CLI_OTS_SEARCH_MAX_PAGESIZE=25

# Enable Silkworm block execution
ERIGON_CLI_SILKWORM_EXEC=false

# Enable embedded Silkworm RPC service
ERIGON_CLI_SILKWORM_RPC=false

# Enable embedded Silkworm Sentry service
ERIGON_CLI_SILKWORM_SENTRY=false

# Set the log level for Silkworm console logs
ERIGON_CLI_SILKWORM_VERBOSITY=info

# Number of I/O contexts used in embedded Silkworm RPC and Sentry services (zero means use default in Silkworm)
ERIGON_CLI_SILKWORM_CONTEXTS=0

# Enable interface log for embedded Silkworm RPC service
ERIGON_CLI_SILKWORM_RPC_LOG=false

# Max interface log file size in MB for embedded Silkworm RPC service
ERIGON_CLI_SILKWORM_RPC_LOG_MAXSIZE=1

# Max interface log files for embedded Silkworm RPC service
ERIGON_CLI_SILKWORM_RPC_LOG_MAXFILES=100

# Dump responses in interface logs for embedded Silkworm RPC service
ERIGON_CLI_SILKWORM_RPC_LOG_RESPONSE=false

# Number of worker threads used in embedded Silkworm RPC service (zero means use default in Silkworm)
ERIGON_CLI_SILKWORM_RPC_WORKERS=0

# Preserve JSON-RPC compatibility using embedded Silkworm RPC service
ERIGON_CLI_SILKWORM_RPC_COMPATIBILITY=true

# Enable beacon API
ERIGON_CLI_BEACON_API=

# Sets the host to listen for beacon API requests
ERIGON_CLI_BEACON_API_ADDR=localhost

# Set the CORS allow methods for beacon API
ERIGON_CLI_BEACON_API_CORS_ALLOW_METHODS=GET, POST, PUT, DELETE, OPTIONS

# Set the CORS allow origins for beacon API
ERIGON_CLI_BEACON_API_CORS_ALLOW_ORIGINS=

# Set the CORS allow credentials for beacon API
ERIGON_CLI_BEACON_API_CORS_ALLOW_CREDENTIALS=false

# Sets the port to listen for beacon API requests
ERIGON_CLI_BEACON_API_PORT=5555

# Sets the read timeout for the beacon API
ERIGON_CLI_BEACON_API_READ_TIMEOUT=5

# Sets the write timeout for the beacon API
ERIGON_CLI_BEACON_API_WRITE_TIMEOUT=5

# Protocol for beacon API
ERIGON_CLI_BEACON_API_PROTOCOL=tcp

# Sets the write timeout for the beacon API IDE
ERIGON_CLI_BEACON_API_IDE_TIMEOUT=25

# Sets whether backfilling is enabled for Caplin
ERIGON_CLI_CAPLIN_BACKFILLING=false

# Sets whether backfilling is enabled for Caplin blob
ERIGON_CLI_CAPLIN_BACKFILLING_BLOB=false

# Disable blob pruning in Caplin
ERIGON_CLI_CAPLIN_BACKFILLING_BLOB_NO_PRUNING=false

# Enables archival node in Caplin
ERIGON_CLI_CAPLIN_ARCHIVE=false

# Absolute path to trusted_setup.json file
ERIGON_CLI_TRUSTED_SETUP_FILE=

# Print in logs RPC requests slower than given threshold
ERIGON_CLI_RPC_SLOW=0s

# Disabling p2p gossip of transactions
ERIGON_CLI_TXPOOL_GOSSIP_DISABLE=false

# Sets the maximum number of blocks to process per sync loop iteration
ERIGON_CLI_SYNC_LOOP_BLOCK_LIMIT=0

# Sets the last stage of the sync loop to run
ERIGON_CLI_SYNC_LOOP_BREAK_AFTER=

# Sets the maximum number of blocks to prune per loop iteration
ERIGON_CLI_SYNC_LOOP_PRUNE_LIMIT=100

# Enable the pprof HTTP server
ERIGON_CLI_PPROF=false

# pprof HTTP server listening interface
ERIGON_CLI_PPROF_ADDR=0.0.0.0

# pprof HTTP server listening port
ERIGON_CLI_PPROF_PORT=6060

# Write CPU profile to the given file
ERIGON_CLI_PPROF_CPUPROFILE=

# Write execution trace to the given file
ERIGON_CLI_TRACE=

# Enable metrics collection and reporting
ERIGON_CLI_METRICS=false

# Enable stand-alone metrics HTTP server listening interface
ERIGON_CLI_METRICS_ADDR=0.0.0.0

# Metrics HTTP server listening port
ERIGON_CLI_METRICS_PORT=6060

# Disable diagnostics
ERIGON_CLI_DIAGNOSTICS_DISABLED=false

# Diagnostics HTTP server listening interface
ERIGON_CLI_DIAGNOSTICS_ENDPOINT_ADDR=0.0.0.0

# Diagnostics HTTP server listening port
ERIGON_CLI_DIAGNOSTICS_ENDPOINT_PORT=6060

# Format console logs with JSON
ERIGON_CLI_LOG_JSON=false

# Format console logs with JSON for the console
ERIGON_CLI_LOG_CONSOLE_JSON=false

# Format file logs with JSON
ERIGON_CLI_LOG_DIR_JSON=false

# Set the log level for console logs
ERIGON_CLI_VERBOSITY=info

# Set the log level for console logs
ERIGON_CLI_LOG_CONSOLE_VERBOSITY=info

# Disable disk logging
ERIGON_CLI_LOG_DIR_DISABLE=false

# Path to store user and error logs to disk
ERIGON_CLI_LOG_DIR_PATH=

# The file name prefix for logs stored to disk
ERIGON_CLI_LOG_DIR_PREFIX=

# Set the log verbosity for logs stored to disk
ERIGON_CLI_LOG_DIR_VERBOSITY=info

# Enable block delay logging
ERIGON_CLI_LOG_DELAYS=false

# Sets erigon flags from YAML/TOML file
ERIGON_CLI_CONFIG=

# Show help
ERIGON_CLI_HELP=false

# Print the version
ERIGON_CLI_VERSION=false
