# Beacon Node REST API endpoint(s). If more than one endpoint is defined, the first node will be used as a primary and others as failovers.
TEKU_CLI_VALIDATOR_BEACON_NODE_API_ENDPOINTS=

# Use SSZ encoding for API block requests. Default: true
TEKU_CLI_VALIDATOR_BEACON_NODE_SSZ_BLOCKS_ENABLED=

# Path/filename of the yaml config file. Default: none
TEKU_CLI_VALIDATOR_CONFIG_FILE=

# Path to the base directory for storage. Default: $HOME/.local/share/teku
TEKU_CLI_VALIDATOR_DATA_BASE_PATH=

# Path to validator client data. Default: <data-base-path>/validator
TEKU_CLI_VALIDATOR_DATA_VALIDATOR_PATH=

# Enable validators doppelganger detection. Default: false
TEKU_CLI_VALIDATOR_DOPPELGANGER_DETECTION_ENABLED=

# Enable terminating the process if no validator keys are found during startup. Default: false
TEKU_CLI_VALIDATOR_EXIT_WHEN_NO_VALIDATOR_KEYS_ENABLED=

# Logging verbosity levels: OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL. Default: INFO
TEKU_CLI_VALIDATOR_LOGGING=

# Whether Status and Event log messages include a console color display code. Default: true
TEKU_CLI_VALIDATOR_LOG_COLOR_ENABLED=

# Whether a logger is added for the console, the log file, or both. Valid values: BOTH, CONSOLE, DEFAULT_BOTH, FILE, CUSTOM. Default: DEFAULT_BOTH
TEKU_CLI_VALIDATOR_LOG_DESTINATION=

# Path containing the location (relative or absolute) and the log filename. If not set will default to <data-path>/logs/teku.log
TEKU_CLI_VALIDATOR_LOG_FILE=

# Pattern for the filename to apply to rolled over log files. If not set will default to <data-path>/logs/teku_%d{yyyy-MM-dd}.log
TEKU_CLI_VALIDATOR_LOG_FILE_NAME_PATTERN=

# Whether frequent update events are logged. Default: true
TEKU_CLI_VALIDATOR_LOG_INCLUDE_EVENTS_ENABLED=

# Whether events are logged when validators perform duties. Default: true
TEKU_CLI_VALIDATOR_LOG_INCLUDE_VALIDATOR_DUTIES_ENABLED=

# Whether block timing metrics are tracked and reported. Default: true
TEKU_CLI_VALIDATOR_METRICS_BLOCK_TIMING_TRACKING_ENABLED=

# Metric categories to enable. Default: [JVM, PROCESS, REMOTE_VALIDATOR, VALIDATOR, NETWORK, BEACON, EVENTBUS, STORAGE_FINALIZED_DB, LIBP2P, VALIDATOR_PERFORMANCE, STORAGE, DISCOVERY, EXECUTOR, STORAGE_HOT_DB]
TEKU_CLI_VALIDATOR_METRICS_CATEGORIES=

# Enables metrics collection via Prometheus. Default: false
TEKU_CLI_VALIDATOR_METRICS_ENABLED=

# Comma-separated list of hostnames to allow, or * to allow any host. Default: [127.0.0.1, localhost]
TEKU_CLI_VALIDATOR_METRICS_HOST_ALLOWLIST=

# Metrics network interface to expose metrics for Prometheus. Default: 127.0.0.1
TEKU_CLI_VALIDATOR_METRICS_INTERFACE=

# Metrics port to expose metrics for Prometheus. Default: 8008
TEKU_CLI_VALIDATOR_METRICS_PORT=

# Publish metrics for node monitoring to an external service.
TEKU_CLI_VALIDATOR_METRICS_PUBLISH_ENDPOINT=

# Interval between metric publications to the external service (measured in seconds). Default: 60
TEKU_CLI_VALIDATOR_METRICS_PUBLISH_INTERVAL=

# Represents which network to use. Use `auto` to fetch network configuration from the beacon node endpoint directly. Default: auto
TEKU_CLI_VALIDATOR_NETWORK=

# If enabled and an owned validator key is detected as slashed, the node will terminate. Default: false
TEKU_CLI_VALIDATOR_SHUT_DOWN_WHEN_VALIDATOR_SLASHED_ENABLED=


# Use the specified file as the bearer token for the validator Rest API.
TEKU_CLI_VALIDATOR_VALIDATOR_API_BEARER_FILE=

# Comma separated list of origins to allow, or * to allow any origin. Default: []
TEKU_CLI_VALIDATOR_VALIDATOR_API_CORS_ORIGINS=

# Enable swagger-docs and swagger-ui endpoints. Default: false
TEKU_CLI_VALIDATOR_VALIDATOR_API_DOCS_ENABLED=

# Enables Validator Rest API. Default: false
TEKU_CLI_VALIDATOR_VALIDATOR_API_ENABLED=

# Comma-separated list of hostnames to allow, or * to allow any host. Default: [127.0.0.1, localhost]
TEKU_CLI_VALIDATOR_VALIDATOR_API_HOST_ALLOWLIST=

# Interface of Validator Rest API. Default: 127.0.0.1
TEKU_CLI_VALIDATOR_VALIDATOR_API_INTERFACE=

# Keystore used for ssl for the validator api.
TEKU_CLI_VALIDATOR_VALIDATOR_API_KEYSTORE_FILE=

# Password used to decrypt the keystore for the validator api.
TEKU_CLI_VALIDATOR_VALIDATOR_API_KEYSTORE_PASSWORD_FILE=

# Port number of Rest API. Default: 5052
TEKU_CLI_VALIDATOR_VALIDATOR_API_PORT=

# Restrict local signing to a single operation at a time. Default: true
TEKU_CLI_VALIDATOR_VALIDATOR_IS_LOCAL_SLASHING_PROTECTION_SYNCHRONIZED_ENABLED=

# <KEY_DIR>:<PASS_DIR> | <KEY_FILE>:<PASS_FILE> will find <KEY_DIR>/**.json, and expect to find <PASS_DIR>/**.txt. Default: []
TEKU_CLI_VALIDATOR_VALIDATOR_KEYS=

# Enable validators registration to builder infrastructure. Default: false
TEKU_CLI_VALIDATOR_VALIDATORS_BUILDER_REGISTRATION_DEFAULT_ENABLED=

# Generate attestations as soon as a block is known, rather than delaying until the attestation is due. Default: true
TEKU_CLI_VALIDATOR_VALIDATORS_EARLY_ATTESTATIONS_ENABLED=

# Keystore (PKCS12/JKS) to use for TLS mutual authentication with external signer.
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_KEYSTORE=

# Password file to decrypt keystore (PKCS12/JKS) that will be used for TLS mutual authentication with external signer.
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_KEYSTORE_PASSWORD_FILE=

# The list of external signer public keys, or a URL to load the keys from. Default: []
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_PUBLIC_KEYS=

# Enable internal slashing protection for external signers. Default: true
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_SLASHING_PROTECTION_ENABLED=

# Timeout (in milliseconds) for the external signing service. Default: 5000
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_TIMEOUT=

# Keystore (PKCS12/JKS) to trust external signer's self-signed certificate.
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_TRUSTSTORE=

# Password file to decrypt keystore (PKCS12/JKS) that will be used to trust external signer's self-signed certificate.
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_TRUSTSTORE_PASSWORD_FILE=

# URL for the external signing service.
TEKU_CLI_VALIDATOR_VALIDATORS_EXTERNAL_SIGNER_URL=

# Graffiti value to include during block creation. Value gets converted to bytes and padded to Bytes32.
TEKU_CLI_VALIDATOR_VALIDATORS_GRAFFITI=

# Appends CL and EL clients information with a space to user's graffiti when producing a block on the Beacon Node. Valid values: AUTO, CLIENT_CODES, DISABLED. Default: AUTO
TEKU_CLI_VALIDATOR_VALIDATORS_GRAFFITI_CLIENT_APPEND_FORMAT=

# File to load graffiti value to include during block creation. Value gets converted to bytes and padded to Bytes32. Takes precedence over --validators-graffiti. If the file can not be read, the --validators-graffiti value is used as a fallback.
TEKU_CLI_VALIDATOR_VALIDATORS_GRAFFITI_FILE=

# Enable locking validator keystore files. Default: true
TEKU_CLI_VALIDATOR_VALIDATORS_KEYSTORE_LOCKING_ENABLED=

# Set strategy for handling performance tracking. Valid values: LOGGING, METRICS, ALL, NONE. Default: ALL
TEKU_CLI_VALIDATOR_VALIDATORS_PERFORMANCE_TRACKING_MODE=

# Use blinded blocks when in block production duties. Default: false
TEKU_CLI_VALIDATOR_VALIDATORS_PROPOSER_BLINDED_BLOCKS_ENABLED=

# Remote URL or local file path to load proposer configuration from.
TEKU_CLI_VALIDATOR_VALIDATORS_PROPOSER_CONFIG=

# Enable the proposer configuration reload on every proposer preparation (once per epoch). Default: false
TEKU_CLI_VALIDATOR_VALIDATORS_PROPOSER_CONFIG_REFRESH_ENABLED=

# Default fee recipient sent to the execution engine, which could use it as fee recipient when producing a new execution block.
TEKU_CLI_VALIDATOR_VALIDATORS_PROPOSER_DEFAULT_FEE_RECIPIENT=
