# If present, do not include timestamps in logging output.
LIGHTHOUSE_CLI_BOOTNODE_DISABLE_LOG_TIMESTAMP=

# If present, do not configure the system allocator.
LIGHTHOUSE_CLI_BOOTNODE_DISABLE_MALLOC_TUNING=

# Disables discv5 packet filter.
LIGHTHOUSE_CLI_BOOTNODE_DISABLE_PACKET_FILTER=

# Discovery can automatically update the node's local ENR with an external IP address and port as seen by other peers on the network.
LIGHTHOUSE_CLI_BOOTNODE_ENABLE_ENR_AUTO_UPDATE=

# Force outputting colors when emitting logs to the terminal.
LIGHTHOUSE_CLI_BOOTNODE_LOG_COLOR=

# If present, compress old log files.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE_COMPRESS=

# If present, log files will be generated as world-readable meaning they can be read by any user on the machine.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE_NO_RESTRICTED_PERMS=

# Prints version information
LIGHTHOUSE_CLI_BOOTNODE_VERSION=

# One or more comma-delimited base64-encoded ENR's or multiaddr strings of peers to initially add to the local routing table.
LIGHTHOUSE_CLI_BOOTNODE_BOOT_NODES=

# Used to specify a custom root data directory for lighthouse keys and databases.
LIGHTHOUSE_CLI_BOOTNODE_DATADIR=

# Specifies the verbosity level used when emitting logs to the terminal.
LIGHTHOUSE_CLI_BOOTNODE_DEBUG_LEVEL=

# The IP address/ DNS address to broadcast to other peers on how to reach this node.
LIGHTHOUSE_CLI_BOOTNODE_ENR_ADDRESS=

# The UDP port of the boot node's ENR.
LIGHTHOUSE_CLI_BOOTNODE_ENR_PORT=

# The UDP6 port of the local ENR.
LIGHTHOUSE_CLI_BOOTNODE_ENR_UDP6_PORT=

# A URL of a beacon-API compatible server from which to download the genesis state.
LIGHTHOUSE_CLI_BOOTNODE_GENESIS_STATE_URL=

# The timeout in seconds for the request to --genesis-state-url.
LIGHTHOUSE_CLI_BOOTNODE_GENESIS_STATE_URL_TIMEOUT=

# The address the bootnode will listen for UDP communications.
LIGHTHOUSE_CLI_BOOTNODE_LISTEN_ADDRESS=

# Specifies the log format used when emitting logs to the terminal.
LIGHTHOUSE_CLI_BOOTNODE_LOG_FORMAT=

# File path where the log file will be stored.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE=

# The verbosity level used when emitting logs to the log file.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE_DEBUG_LEVEL=

# Specifies the log format used when emitting logs to the logfile.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE_FORMAT=

# The maximum number of log files that will be stored.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE_MAX_NUMBER=

# The maximum size (in MB) each log file can grow to before rotating.
LIGHTHOUSE_CLI_BOOTNODE_LOGFILE_MAX_SIZE=

# Name of the Eth2 chain Lighthouse will sync and follow.
LIGHTHOUSE_CLI_BOOTNODE_NETWORK=

# The directory which contains the enr and its associated private key.
LIGHTHOUSE_CLI_BOOTNODE_NETWORK_DIR=

# The UDP port to listen on.
LIGHTHOUSE_CLI_BOOTNODE_PORT=

# The UDP port to listen on over IpV6 when listening over both Ipv4 and Ipv6.
LIGHTHOUSE_CLI_BOOTNODE_PORT6=

# Used to coordinate manual overrides of the SAFE_SLOTS_TO_IMPORT_OPTIMISTICALLY parameter.
LIGHTHOUSE_CLI_BOOTNODE_SAFE_SLOTS_TO_IMPORT_OPTIMISTICALLY=

# Used to coordinate manual overrides to the TERMINAL_BLOCK_HASH_ACTIVATION_EPOCH parameter.
LIGHTHOUSE_CLI_BOOTNODE_TERMINAL_BLOCK_HASH_EPOCH_OVERRIDE=

# Used to coordinate manual overrides to the TERMINAL_BLOCK_HASH parameter.
LIGHTHOUSE_CLI_BOOTNODE_TERMINAL_BLOCK_HASH_OVERRIDE=

# Used to coordinate manual overrides to the TERMINAL_TOTAL_DIFFICULTY parameter.
LIGHTHOUSE_CLI_BOOTNODE_TERMINAL_TOTAL_DIFFICULTY_OVERRIDE=

# Path to directory containing eth2_testnet specs.
LIGHTHOUSE_CLI_BOOTNODE_TESTNET_DIR=
